#sphere {
    left: 50%;
    position: fixed;
    transform-style: preserve-3d;
    z-index: 1;
    display: flex;
    justify-content: center;
    animation: rotate-sphere 20s linear 0s infinite;
    transition: animation-play-state ease-in-out 0.5s;
}

.initLi{
    opacity: 0.7;
    width: 70px;
    height: 60px;
    display: flex;
    position: absolute;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(148, 3, 19, 0.2);
    box-shadow: 0 0 8px rgba(254, 249, 255, 0.58);
    transition: transform ease-in-out 4s,background-color ease-in-out 0.5s;
}
#sphere >div>span{
    position: relative;
    font-size: 25px;
    text-shadow: 0 0 3px #ebeb4e;
}
.sphere-container{
    perspective: 800px;
    opacity: 0;
    transition: ease-in-out 2s;
}

.initLi:hover {
    background-color: rgba(148, 3, 19, 0.51) ;
    box-shadow: 0 0 10px rgba(254, 249, 255, 0.58) ;
}

.hikari-container {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 460px;
    transform: translateX(-50%);
    transition: ease-in-out 4s;
    opacity: 0;
}

.hikari {
    display: flex;
    justify-content: center;
    width: 160px;
    height: 110px;
    position: absolute;
    bottom: -180px;
    z-index: 0;
}
.hikari .core {
    width: 0.2px;
    height: 0.1px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 30px 40px rgba(255, 255, 255, 0.8);
    animation: core-shining 20s infinite ease-in-out;
}
.hikari .raising {
    position: absolute;
    width: 0;
    height: 600px;
    bottom: 100px;
    z-index: 2;
    box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.3);
    animation: shining 10s infinite ease-in-out;
}

@keyframes rotate-sphere {
    from {
        transform: rotateY(0);
    }
    to{
        transform: rotateY(359deg);
    }
}

@keyframes shining {
    0% {
        box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.3);
    }
    20%{
        box-shadow: 0 0 80px 30px rgba(255, 255, 255, 0.4);
    }
    50%{
        box-shadow: 0 0 40px 30px rgba(255, 255, 255, 0.2);
    }
    80%{
        box-shadow: 0 0 70px 30px rgba(255, 255, 255, 0.6);
    }
    100%{
        box-shadow: 0 0 50px 30px rgba(255, 255, 255, 0.3);
    }
}

@keyframes core-shining {
    0% {
        box-shadow: 0 0 30px 40px rgba(255, 255, 255, 0.6);
    }
    20%{
        box-shadow: 0 0 50px 50px rgba(255, 255, 255, 0.7);
    }
    50%{
        box-shadow: 0 0 40px 40px rgba(255, 255, 255, 0.3);
    }
    80%{
        box-shadow: 0 0 60px 60px rgba(255, 255, 255, 0.8);
    }
    100%{
        box-shadow: 0 0 30px 40px rgba(255, 255, 255, 0.6);
    }
}
