@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}

.landing-container{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.landing-container >.abstract-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    flex: 0 1 1100px;
}
@media screen and (max-width: 1106px){
    .abstract-container {
        justify-content: center !important;/*这个地方得加important*/
    }
}

.landing-container >.abstract-container> .landing-item{
    margin: 15px 25px 15px 25px;
    background-color: rgba(61, 58, 62, 0.31);
    box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.44);
    height: 160px;
    flex: 0 1 500px;
    transition: ease-in-out 0.5s;
    animation: fade-in 1s;
}
.landing-item:hover{
    cursor:pointer;
    transform: translateY(-10px);
    box-shadow: 0 0 8px 0 rgba(103, 99, 104, 0.62);
}

.landing-item img{
    display: inline-block;
    height: 150px;
    width: 150px;
    margin:10px;
}

.essay-abstract {
    display: inline-block;
    position: absolute;
    color: white;
    margin-top: 15px;
    max-width: 300px;
}
.essay-abstract>:first-child{
    font-weight: bold;
    font-size: 1.2em;
}
.essay-tag{
    display: inline-block;
    font-size: 10px;
    margin-left: 5px;
    color: #b5b2b6;
}
.essay-tag:hover{
    color: crimson;
}

.essay-abstract>p{
    font-size: 13px;
    margin-top: 15px;
    margin-left: -10px;
    color: #7b787c;
}
.landing-item .date {
    font-size: 12px;
    display: inline-block;
    position: relative;
    float: right;
    bottom: 20px;
    color: aliceblue;
    font-family: "Segoe UI Light";
}
